@charset "utf-8";


/* 
font-family: 'Caprasimo'
font-family: 'paybooc';

*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: #412b12;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'paybooc';
    font-size: 16px;
    font-weight: normal;
    color: #402a12;
    min-width: 1620px;
}

/* 기본정렬 */

#main_bg {
    background: url(../images/community/main_bg.jpg) no-repeat center top;
}


/* top */
#top {
    background: #ffb762 url(../images/top.png);
    margin: 30px 0;

}



.top_inner {
    position: relative;
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    height: 110px;
    font-size: 27px;



}

.top_inner p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#top .top_left {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;


}

.left1 {
    margin-left: 304px;
    margin-right: 166px;
}


#top .top_right {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;

}


.right1 {
    margin-right: 304px;
    margin-left: 166px;
}

#top>div>ul>li>a:hover {
    color: #6f1d77;
    text-shadow: 5px 5px 2px #d48931;
}

.sub {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 300px;
    margin-left: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.top_left>li {
    position: relative;
}

.sub>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}

.top_right>li {
    position: relative;
}

.sub2 {
    position: absolute;
    right: 50%;
    top: 100%;
    width: 300px;
    margin-right: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.sub2>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}




.sub {
    display: none;
}

.sub2 {
    display: none;
}





/* top */

/* main_banner */

#main_banner img {
    width: 100%;
}

/* main_banner */

/* event */
#event {
    margin: 0 auto;
    max-width: 1320px;
    padding-bottom: 185px;

}

#event h1 {
    text-align: center;
    padding-top: 97px;
    padding-bottom: 110px;
}

.event1 li a {
    display: block;
    overflow: hidden;
}

.event1 ul li a img {
    transition: all 0.2s linear;

}

.event1 ul li a:hover img {
    transform: scale(1.2);
    transition: 2s;
}


.event1 ul {
    display: flex;
    justify-content: space-between;
}

.event1_1 {
    background-color: #f9c88d;
    height: 95px;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    padding-bottom: 20px;
    background-blend-mode: darken;

}

.event1_1 p {
    color: #412b12;
    font-size: 20px;
    padding-top: 12px;
    font-family: 'paybooc';
    font-weight: bold;
}

.event1_1 h4 {
    color: #6f1d77;
    font-size: 17.7px;
    font-family: 'paybooc';
    font-weight: 500;
    padding-top: 25px;
}

.event2 img {
    animation: move1 2s linear infinite;
}



@keyframes move1 {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: rotate(0);

    }


}

/* event2 */
.event2 {
    padding-top: 185px;
}


.event2 ul {
    display: flex;
    justify-content: space-between;
}



.event2_1 {
    background: url(../images/community/bm_event.jpg) no-repeat;
    height: 300px;
    width: 370px;
    position: relative;
    text-align: center;

}

.event2_4 {
    background: url(../images/community/sns_img5.jpg) no-repeat;
    height: 300px;
    width: 370px;
    position: relative;
    text-align: center;

}

.event2_3 {
    background: url(../images/community/sns_img4.jpg) no-repeat;
    height: 300px;
    width: 370px;
    position: relative;
    text-align: center;

}



.event2_1 img {
    padding-top: 34px;

}

.event2_3 img {
    padding-top: 34px;

}

.event2_4 img {
    padding-top: 34px;

}

.event2_3 p {
    font-size: 35px;
    color:wheat;
    font-weight: bold;
}

.event2_1 p {
    font-size: 35px;
    color: wheat;
    font-weight: bold;
}

.event2_4 p {
    font-size: 35px;
    color: wheat;
    font-weight: bold;
}


.event2_2 {
    text-align: center;
    background-color: #f9c88d;
    height: 95px;
    border-radius: 0px 0px 50px 50px;
    padding-bottom: 20px;
}


.event2_2 h3 {
    color: #412b12;
    font-size: 20px;
    padding-top: 12px;
    font-family: 'paybooc';
    font-weight: bold;
}

.event2_2 h4 {
    color: #6f1d77;
    font-size: 17.7px;
    font-family: 'paybooc';
    font-weight: 500;
    padding-top: 25px;
}


/* community */
#community {
    text-align: center;
    padding-top: 58px;
    margin: 0 auto;
    max-width: 1320px;

}

#community h6 {
    font-size: 25px;
    font-family: 'paybooc';
    padding-top: 56px;
    color: #82b941;
    padding-bottom: 49px;
}

#community h6 span {
    font-size: 30px;
    font-family: 'Caprasimo';
    color: #82b941;

}

.community1 ul {
    display: flex;
    justify-content: space-between;
    border: #82b941 solid 5px;
    margin-bottom: 10px;
    padding: 28px 24px;
    background-color: #c4cf43;
}

.community1 ul li {
    color: #f18d1b;
    font-size: 25px;
    font-weight: bold;
    font-family: 'paybooc';
}


.community2 ul a {
    display: flex;
    border: #82b941 solid 5px;
    margin-bottom: 10px;
    padding: 28px 24px;
    align-items: center;

}

.community2_1 {
    font-size: 25px;
    font-family: 'paybooc';
    font-weight: bold;
    color: #f18d1b;
    padding-right: 50px;
}

.community2_2 {
    font-size: 20px;
    font-family: 'paybooc';
    font-weight: bold;
    color: #6f1d77;
    padding-right: 730px;

}




.community2_3 {
    font-size: 20px;
    font-weight: lighter;
    color: #6f1d77;
    font-family: 'paybooc';
    margin-left: auto;
}

.community2 ul a:hover {
    background-color: #c4cf43;
}

/* community */


/* footer */

#footer {
    background-color: #6f1d77;
    margin-top: 143px;
}

#footer .footer1 {
    display: flex;
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
}

#footer .footer_sns {
    display: flex;
}

.footer1 p {
    padding-top: 20px;
    padding-left: 19px;
}

.footer1 ul {
    padding-top: 19px;
    color: white;
    padding-left: 35px;
    padding-bottom: 26px;

}

.footer1 ul li {
    padding-top: 5px;
}

.footer_sns {
    margin-left: auto;

}

.footer_sns li {
    padding-left: 29px;
}

.footer_sns1 a:hover img {
    filter: brightness(200%);
}

.footer_sns2 a:hover img {
    filter: brightness(200%);
}

.footer_sns3 a:hover img {
    filter: brightness(200%);
}

/* footer */