@charset "utf-8";


/* 
font-family: 'Caprasimo'
font-family: 'paybooc';

*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: #412b12;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'paybooc';
    font-size: 16px;
    font-weight: normal;
    color: #402a12;
}

/* 기본정렬 */


#main_bg {
    background: url(../images/sub_bg.jpg) no-repeat center top;

}

/* top */
#top {
    background: #ffb762 url(../images/top.png);
    margin: 30px 0;

}



.top_inner {
    position: relative;
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    height: 110px;
    font-size: 27px;



}

.top_inner p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#top .top_left {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;


}

.left1 {
    margin-left: 304px;
    margin-right: 166px;
}


#top .top_right {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;

}


.right1 {
    margin-right: 304px;
    margin-left: 166px;
}

#top>div>ul>li>a:hover {
    color: #6f1d77;
    text-shadow: 5px 5px 2px #d48931;
}

.sub {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 300px;
    margin-left: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.top_left>li {
    position: relative;
}

.sub>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}

.top_right>li {
    position: relative;
}

.sub2 {
    position: absolute;
    right: 50%;
    top: 100%;
    width: 300px;
    margin-right: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.sub2>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}




.sub {
    display: none;
}

.sub2 {
    display: none;
}





/* top */

/* main */
#main_banner img {
    width: 100%;
}

/* season */
#season {
    margin: 0 auto;
    max-width: 1520px;

}

h1 {
    padding-top: 270px;
    text-align: center;
    padding-bottom: 206px;
}


.season_menu ul {
    display: flex;
    justify-content: space-between;


}

.season_menu ul li {
    text-align: center;
    padding-top: 30px;

}

.season_menu ul li {
    background: url(../images/menu_bg.png) no-repeat;
    width: 225px;
    position: relative;

}

.best {
    position: absolute;
    top: -20px;
    left: -40px;
}

.menu1 a img,
.menu2 a img,
.menu3 a img {
    margin-top: 40px;
}

.season_menu ul li p {
    padding: 28px 0;
    text-align: center;
    font-family: 'paybooc';
    font-weight: bolder;
    font-size: 20px;
}

.season_menu ul li h2 {
    text-align: center;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.season_menu ul li a img:hover {
    animation: rotate 0.8s linear;
}



/* season */

/* dount */
#dount {
    margin: 0 auto;
    max-width: 1520px;

}

h3 {
    padding-top: 300px;
    padding-bottom: 141px;
    text-align: center;
}

.dount_menu ul {
    display: flex;
    justify-content: space-between;
}

.dount_menu ul li {
    text-align: center;
    background: url(../images/menu_bg.png) no-repeat;
    width: 225px;
    position: relative;
}


.best2 {
    position: absolute;
    top: -90px;
    left: -40px;
}

.dount_menu ul li img {
    margin-top: 80px;
}


.dount_menu ul li p {
    padding: 28px 0;
    text-align: center;
    font-family: 'paybooc';
    font-weight: bold;
    font-size: 20px;
}

.dount_menu ul li h2 img {
    text-align: center;
    margin: 0;

}

.dount_menu ul li img:hover {
    animation: rotate 1s linear;
}


/* dount2 */
#dount2 {
    padding-top: 207px;
    margin: 0 auto;
    max-width: 1520px;
    padding-bottom: 213px;
}

.dount_menu2 ul {
    display: flex;
    justify-content: space-between;
}

.dount_menu2 ul li {
    background: url(../images/menu_bg.png) no-repeat;
    width: 225px;
    text-align: center;
    position: relative;
}



.best3 {
    position: absolute;
    top: -80px;
    left: -40px;
}

.dount_menu2 ul li img {
    margin-top: 60px;

}


.dount_menu2 ul li p {
    padding: 28px 0;
    text-align: center;
    font-family: 'paybooc';
    font-weight: bold;
    font-size: 20px;
}

.dount_menu2 ul li h2 img {
    text-align: center;
    margin: 0;
}


.dount_menu2 ul li img:hover {
    animation: rotate 1s linear;
}

/* dount2 */



/* footer */

#footer {
    background-color: #6f1d77;
}

#footer .footer1 {
    display: flex;
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
}

#footer .footer_sns {
    display: flex;
}

.footer1 p {
    padding-top: 20px;
    padding-left: 19px;
}

.footer1 ul {
    padding-top: 19px;
    color: white;
    padding-left: 35px;
    padding-bottom: 26px;

}

.footer1 ul li {
    padding-top: 5px;
}

.footer_sns {
    margin-left: auto;

}

.footer_sns li {
    padding-left: 29px;
}

.footer_sns1 a:hover img {
    filter: brightness(200%);
}

.footer_sns2 a:hover img {
    filter: brightness(200%);
}

.footer_sns3 a:hover img {
    filter: brightness(200%);
}

/* footer */