@charset "utf-8";


/* 
font-family: 'Caprasimo'
font-family: 'paybooc';

*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: #412b12;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'paybooc';
    font-size: 16px;
    font-weight: normal;
    color: #402a12;
}

/* 기본정렬 */




#main_bg {
    background: url(../images/sub_goods/goods_bg.jpg.png) no-repeat;
}

#main_bg {
    background-color: #f8f2e5;
}

/* top */
#top {
    background: #ffb762 url(../images/top.png);
    margin: 30px 0;

}



.top_inner {
    position: relative;
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    height: 110px;
    font-size: 27px;



}

.top_inner p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#top .top_left {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;


}

.left1 {
    margin-left: 304px;
    margin-right: 166px;
}


#top .top_right {

    font-family: 'Caprasimo';
    display: flex;
    padding-top: 73px;

}


.right1 {
    margin-right: 304px;
    margin-left: 166px;
}

#top>div>ul>li>a:hover {
    color: #6f1d77;
    text-shadow: 5px 5px 2px #d48931;
}

.sub {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 300px;
    margin-left: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.top_left>li {
    position: relative;
}

.sub>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}

.top_right>li {
    position: relative;
}

.sub2 {
    position: absolute;
    right: 50%;
    top: 100%;
    width: 300px;
    margin-right: -150px;
    background-color: #f18d1b;
    border-radius: 0 0 20px 20px;
}

.sub2>li {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'paybooc';
}




.sub {
    display: none;
}

.sub2 {
    display: none;
}





/* top */

/* main_banner */

#main_banner img {
    width: 100%;
}

#main_banner {
    padding-bottom: 240px;
}

/* main_bannner */


/* goodsshop */

#goodsshop {
    margin: 0 auto;
    max-width: 1320px;


}

.goodsshop1 li a {
    display: block;
    border-radius: 80px;
    overflow: hidden;

}



.goodsshop1 ul {
    display: flex;
    justify-content: space-between;


}




.goodsshop1 ul li {
    width: 258px;
    text-align: center;
    position: relative;
}

.goodsshop1_2 li p,
.goodsshop2 li p {
    padding-top: 14px;
    text-align: center;
    font-family: 'paybooc';
    font-size: 20px;
    font-weight: bold;
}


h4 {
    font-family: 'paybooc';
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}

.goodsshop2 {
    padding-top: 273px;
}

.goodsshop1 {
    overflow: hidden;
}



.goodsshop1 a img {
    transition: all 0.2s linear;


}

.goodsshop1 a:hover img {
    transform: scale(1.2);
    transition: 1s;



}

h6 img {
    position: absolute;
    top: 0px;
    left: -40px;
    box-sizing: 20;
}

.goodsshop1 .goodsshop1_2 img {
    overflow: hidden;
}



/* goodsshop */


/* footer */

#footer {
    background-color: #6f1d77;
    margin-top: 315px;
}

#footer .footer1 {
    display: flex;
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
}

#footer .footer_sns {
    display: flex;
}

.footer1 p {
    padding-top: 20px;
    padding-left: 19px;
}

.footer1 ul {
    padding-top: 19px;
    color: white;
    padding-left: 35px;
    padding-bottom: 26px;

}

.footer1 ul li {
    padding-top: 5px;
}

.footer_sns {
    margin-left: auto;

}

.footer_sns li {
    padding-left: 29px;
}

.footer_sns1 a:hover img {
    filter: brightness(200%);
}

.footer_sns2 a:hover img {
    filter: brightness(200%);
}

.footer_sns3 a:hover img {
    filter: brightness(200%);
}

/* footer */