@font-face {
    font-family: 'Caprasimo';
    src: url('Caprasimo-Regular.woff2') format('woff2'),
        url('Caprasimo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

